<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="Panel-block">
            Trend 1
        </a>
        <a class="Panel-block">
            Trend 2
        </a>
        <a class="Panel-block">
            Trend 3
        </a>
        <a class="Panel-block">
            Trend 4
        </a>
        <a class="Panel-block">
            Trend 5
        </a>
        <a class="Panel-block">
            Trend 6
        </a>
        <a class="Panel-block">
            Trend 7
        </a>
        <a class="Panel-block">
            Trend 8
        </a>
        <a class="Panel-block">
            Trend 9
        </a>
    </nav>
</div>